USE [master]
GO
/****** Object:  Database [quimitech_db]    Script Date: 28/12/2025 01:56:14 a. m. ******/
CREATE DATABASE [quimitech_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quimitech_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quimitech_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quimitech_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\quimitech_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quimitech_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quimitech_db]
GO
/****** Object:  User [laravel_user]    Script Date: 28/12/2025 01:56:14 a. m. ******/
CREATE USER [laravel_user] FOR LOGIN [laravel_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [laravel_user]
GO
/****** Object:  Table [dbo].[empresa_areas]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa_areas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresas]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[giro] [nvarchar](200) NULL,
	[direccion] [nvarchar](500) NULL,
	[contacto] [nvarchar](200) NULL,
	[telefono] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[email] [nvarchar](100) NULL,
	[industria] [nvarchar](100) NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[areas_contacto]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas_contacto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[area] [nvarchar](200) NOT NULL,
	[producto] [nvarchar](300) NULL,
	[encargado] [nvarchar](200) NULL,
	[puesto] [nvarchar](200) NULL,
	[correo] [nvarchar](200) NULL,
	[telefono] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actividades]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[objetivo] [nvarchar](500) NOT NULL,
	[datos_adicionales] [nvarchar](max) NULL,
	[estado] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_empresas_completa]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_empresas_completa] AS
SELECT 
    e.id,
    e.nombre,
    e.giro,
    e.direccion,
    e.contacto,
    e.telefono,
    e.email,
    e.industria,
    e.notas,
    e.created_at,
    e.updated_at,
    (SELECT COUNT(*) FROM areas_contacto ac WHERE ac.empresa_id = e.id) AS total_contactos,
    (SELECT COUNT(*) FROM empresa_areas ea WHERE ea.empresa_id = e.id) AS total_areas,
    (SELECT COUNT(*) FROM actividades a WHERE a.empresa_id = e.id) AS total_actividades
FROM empresas e;
GO
/****** Object:  View [dbo].[vista_areas_empresa]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_areas_empresa] AS
SELECT 
    ea.id,
    ea.empresa_id,
    e.nombre AS empresa_nombre,
    ea.nombre AS area_nombre,
    ea.descripcion,
    ea.created_at,
    ea.updated_at
FROM empresa_areas ea
INNER JOIN empresas e ON ea.empresa_id = e.id;
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](200) NULL,
	[email] [nvarchar](200) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[rol] [nvarchar](50) NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[actividades] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[actividades] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[actividades] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[areas_contacto] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[areas_contacto] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[empresa_areas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[empresa_areas] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[empresas] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('usuario') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[actividades]  WITH CHECK ADD FOREIGN KEY([empresa_id])
REFERENCES [dbo].[empresas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[areas_contacto]  WITH CHECK ADD FOREIGN KEY([empresa_id])
REFERENCES [dbo].[empresas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empresa_areas]  WITH CHECK ADD  CONSTRAINT [fk_empresa_areas_empresa] FOREIGN KEY([empresa_id])
REFERENCES [dbo].[empresas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empresa_areas] CHECK CONSTRAINT [fk_empresa_areas_empresa]
GO
/****** Object:  StoredProcedure [dbo].[sp_estadisticas_empresa]    Script Date: 28/12/2025 01:56:14 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_estadisticas_empresa]
    @empresa_id INT
AS
BEGIN
    SELECT 
        @empresa_id AS empresa_id,
        (SELECT nombre FROM empresas WHERE id = @empresa_id) AS empresa_nombre,
        (SELECT COUNT(*) FROM areas_contacto WHERE empresa_id = @empresa_id) AS total_contactos,
        (SELECT COUNT(*) FROM empresa_areas WHERE empresa_id = @empresa_id) AS total_areas,
        (SELECT COUNT(*) FROM actividades WHERE empresa_id = @empresa_id) AS total_actividades,
        (SELECT COUNT(*) FROM actividades WHERE empresa_id = @empresa_id AND estado = 'Completado') AS actividades_completadas,
        (SELECT COUNT(*) FROM actividades WHERE empresa_id = @empresa_id AND estado = 'Pendiente') AS actividades_pendientes,
        (SELECT COUNT(*) FROM actividades WHERE empresa_id = @empresa_id AND estado = 'Reprogramado') AS actividades_reprogramadas,
        GETDATE() AS fecha_consulta;
END
GO
USE [master]
GO
